.transition-section-text {
  position: absolute;
  top: 40%;
  right: 42%;
  left: 42%;
  color: #faf9f6;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .transition-section-text {
    right: 32%;
    left: 32%;
  }
}
